.icon {
  all: unset;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: rgba(9, 9, 10, 0.2) 0px 7px 29px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  & img {
    width: 100%;
    height: 100%;
  }

  &:hover {
    transform: scale(1.2);
  }
}