.tv {
  width: 330px !important;
  height: 230px;
  background: #333;
  border: 15px solid #555;
  border-radius: 20px;
  position: relative;
  margin: 50px auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.tv::before {
  content: '';
  width: 40px;
  height: 10px;
  background: #333;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0 0 10px 10px;
}

.tv-screen {
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.tv-image {
  background-image: var(--image-url) !important;
  width: 100%;
  background-position: center;
  background-size: contain;
  transition: 0.5s;
  background-repeat: no-repeat;
  height: 100%;
  object-fit: contain;
}