.img {
  width: 250px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #000;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 0.5s;
  &:hover {
    transform: scale(1.1);
  }
  @media screen and (max-width: 670px){
    & {
      width: 200px;
    }
  }
  & img {
    width: 100%;
    height: 100%;
  }
}

.icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
  justify-content: start;
  align-items: center;
}

