.container22 {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

  @media screen and (max-width: 990px) {
    & {
      padding: 0 10px 10px 20px;
      
    }

  }
}

.content {
  min-height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}