.list {
  all: unset;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.navLink {
  all: unset;
  color: rgba(107, 106, 106, 0.497) !important;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: 0.5s;
  position: relative !important;
  z-index: 10000 !important;
  font-size: 18px;

  &:hover {
    color: #000 !important;
  }
}

a {
  text-decoration: none !important;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-block: 10px;
  position: relative !important;
  z-index: 10000 !important;
  align-items: center;
  min-height: 80px;

  & h1 {
    text-decoration: none !important;
    cursor: pointer;
    text-transform: uppercase;
    color: black !important;
  }
}

.img {
  width: 50px;
  margin-top: -10px;
  margin-right: 10px;

  & img {
    width: 100%;
    height: 100%;
    aspect-ratio: 4/3;
  }

  cursor: pointer;
  text-transform: uppercase;
  color: black !important;
}

.all {
  transition: 0.5s;

  &:hover {
    opacity: 0.5;
  }
}

span {
  cursor: pointer;
  background-color: black !important;
  width: 30px;
  height: 3px;
  transition: 0.5s;
}

.allSpans {
  display: none;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    opacity: 0.5;
  }
}

.span_new {
  transform: rotate(45deg);
}

.span1_new {
  transform: rotate(-45deg);
  margin-top: -10px;
}

.span2_new {
  opacity: 0 !important;
}

/* Styles for small screens (max-width: 768px) */
@media screen and (max-width: 768px) {
  .navLink {
    display: block !important;
    position: relative;
    z-index: 10000 !important;
  }

  .allSpans {
    position: relative;
    display: flex !important;
  }

  .navLinks_small {
    display: flex !important;
    flex-direction: column !important;
    gap: 20px;
    position: absolute;
    z-index: 10000 !important;
    top: 80px;
    right: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    opacity: 1;
  }

  .navLinks_large {
    display: none !important;
  }

  .navLinks_small a {
    color: rgba(107, 106, 106, 0.497) ;

    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s;
  }

  .navLinks_small a:hover {
    color: #000 !important;
  }
}

/* Styles for large screens */
@media screen and (min-width: 769px) {
  .navLinks_small {
    display: none !important;
  }

  .navLinks_large {
    display: flex !important;
    flex-direction: row;
    gap: 20px !important;
    z-index: 10000 !important;
  }
}