.img {
  width: 300px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #000;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 0.5s;

  &:hover {
    transform: scale(1.1);
  }

  @media screen and (max-width: 670px) {
    & {
      width: 200px;
    }
  }

  & img {
    width: 100%;
    height: 100%;
  }
}

.icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
  justify-content: start;
  align-items: center;
}

.body {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  gap: 10px;
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  padding: 10px 20px;
  border-radius: 20px;
  min-width: 100px !important;
  background-color: #023047;
  color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    border-radius: 20px;
    transform: scale(1.1);
    background-color: #000;
    color: #fff;
  }
}

.skills_container {
  border: 1px solid #000;
  padding: 20px !important;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 20px;

  &::-webkit-scrollbar {
    display: none;
  }

  flex-direction: row;

}